.slide-out {

}

.hamburger {
    top: 12px;
    right: 12px;
    position: absolute;
    display: block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 7;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
    content: '';
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 5px;
    background-color: black;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-7.5px, 6px);
}
.hamburger.is-active .bar {
    opacity: 0;
}
.hamburger.is-active:after {
    transform: rotate(45deg) translate(-7.5px, -9px);
}
